body {
    background-color: #ecf0f1;
}

h1 {
    color:white;
    transition : color 0.5s ease-in-out;
    font-size: 50px;
}

.clicked {
    color: #7f8c8d;
}

.btn {
    cursor: pointer;
}

.form,
.greetings {
    display: none;
    color: white;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

.box {
    position: absolute;
    background-color: gray;
    opacity: 0.6;
    z-index: 0;
    display: block;
    width: max-content;
    padding: 2rem;
    border-radius: 1rem;
    left: 5%;
    top: 5%;
}

.js-toDoList {
    color: white;
    font-weight: bold;
}

span {
    color: white;
    font-weight: bold;
}